<odoo>
    <data>

        <menuitem id="menu_customs_root" name="Customs"/>

        <record id="action_customs_rule" model="ir.actions.act_window">
            <field name="name">Exemption Rules</field>
            <field name="res_model">customs.exemption.rule</field>
            <field name="view_mode">list,form</field>
        </record>

        <menuitem id="menu_customs_rules"
                  name="Exemption Rules"
                  parent="menu_customs_root"
                  action="action_customs_rule"/>

    </data>
</odoo>