<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <!-- ACTION -->
        <record id="action_customs_rule" model="ir.actions.act_window">
            <field name="name">Customs Rules</field>
            <field name="res_model">customs.exemption.rule</field>
            <field name="view_mode">list,form</field>
        </record>

        <!-- MENU under Inventory -->
        <menuitem id="menu_customs_rules"
                  name="Customs Rules"
                  parent="stock.menu_stock_root"
                  action="action_customs_rule"
                  sequence="99"/>

    </data>
</odoo>